@import url(friendly.css);

body {
    margin: 60px auto;
    width: 70%;
font-family: 'Roboto Mono', monospace;


}
nav ul, footer ul {
font-family: 'Roboto Mono', monospace;


    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #ffc0cb;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
font-family: 'Roboto Mono', monospace;


    color: #ffc0cb;
}
a {
    text-decoration: none;
    color: #ffc0cb;
font-family: 'Roboto Mono', monospace;


}
a:hover {
    text-decoration: underline;
font-family: 'Roboto Mono', monospace;


}
h1 {
    font-size: 3em;
font-family: 'Roboto Mono', monospace;


}

h2 {
    font-size: 2em;
font-family: 'Roboto Mono', monospace;


}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
font-family: 'Roboto Mono', monospace;


}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
font-family: 'Roboto Mono', monospace;


}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
font-family: 'Roboto Mono', monospace;


}

ul.posts li {
    list-style: none;
font-family: 'Roboto Mono', monospace;


}
